In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
test = train = pd.read_csv("../data/raw/train.csv")

In [3]:
train.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

In [4]:
train.shape

(30471, 292)

In [5]:
from sklearn.linear_model import SGDRegressor

In [6]:
model = SGDRegressor()

In [7]:
features = ['metro_km_walk', 'kremlin_km', 'full_sq']
target = 'price_doc'
model.fit(X = train[features].fillna(0), y = train[target])

SGDRegressor()

In [8]:
test_prediction = model.predict(test[features].fillna(0))

In [11]:
sample_submission = pd.read_csv('../data/raw/sample_submission.csv')

In [12]:
# sample_submission['price_doc'] = test_prediction

In [13]:
sample_submission.to_csv('predict1.csv', index = False)